
.nav-item a {
    display: block;
    padding: 9px;
    color: rgba(255,255,255,.5);
}

.image {
    height: 500px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }